.page {
    width: 21cm;
    height: 29.7cm;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 1cm auto;
    border-radius: 6px;
    padding: 0.5cm;
}

.brand {
    height: 15%;
}
.products {
    height: calc(100% - 15%);
}
.product-row {
    height: 33.33%;
}
.product-layout {
    width: 33.33%;
}
.img-container {
    aspect-ratio: 1/0.8;
    background-color: white;
    background-image: url('https://cdn-prd-02.pnp.co.za/sys-master/images/h10/h7a/11272996683806/silo-product-image-v2-28Sep2023-180420-6001324906348-Straight_on-177274-1874_400Wx400H');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}